.two-column-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.two-column-section .column {
    width: 42%;
    box-sizing: border-box;
}

.two-column-section .column-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    position: relative;
}

.two-column-section .column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0;
}

.two-column-section .column-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.two-column-section .column-video video {
    width: 100%;
    height: auto;
    display: block;
    max-height: 620px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

@media (max-width: 850px) {
    .two-column-section .column {
        width: 100%;
    }
    .column.column-1 {
        margin-bottom: 120px;
    }
    .acme-logo-col .column-image img {
        max-width: 60%;
        margin: 0 auto;
    }
    
    .acme-logo-col .column.column-1 {
        margin-bottom: 60px;
    }
}